<div ng-init="init()">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" ng-model="filter.trackName" class="form-control filter" placeholder="Track Name" ng-change="filterChange()">
        </div>
        <div class="col-sm-2">
            <select class="form-control filter" ng-model="kind" ng-options="type.kind as type.label for type in types track by type.kind" ng-change="search()"></select>
        </div>
        <div class="col-sm-6">
            <uib-pagination total-items="totalItems" ng-model="page" ng-change="pageChanged()" class="pull-right"
                            boundary-links="true" class="pagination" items-per-page="itemsPerPage" max-size="maxSize" >
            </uib-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="medias.length == 0">No Results...</div>
        <div class="col-xs-6 col-sm-3 col-md-2"
             ng-repeat="track in medias | filter:filter | limitTo:itemsPerPage:(page-1)*itemsPerPage track by $index">
            <div class="thumbnail">
                <div class="caption">
                    <img ng-src="{{track.artworkUrl100}}" title="{{track.trackName}}" />
                    <div class="title">{{track.trackName | textLimit: 20}}</div>
                    <div class="description">{{track.artistName}}</div>
                    <div class="price">{{track.currency}} {{track.trackPrice}}</div>
                        <button class="btn btn-primary" ng-click="play(track)">Play</button>
                        <button class="btn btn-default" ng-click="buy(track)">Buy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <uib-pagination total-items="totalItems" ng-model="page" ng-change="pageChanged()" class="pull-right"
                            boundary-links="true" class="pagination" items-per-page="itemsPerPage" max-size="maxSize" >
            </uib-pagination>
        </div>
    </div>
</div>